#messageicon {
  margin-bottom: 1rem;
  font-size: 2.5em;
  /* height: 2.5em; */
}

#messgeContent {
  position: absolute;
  padding: 2rem;
  background: #000;
  z-index: 9999;
}

#loginContent {
  height: 40%;
  width: 70%;
  justify-content: space-around;
}

#realContent {
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}

#usernamediv {
  width: 80%;
  height: 25%;
}

#usernameinput {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border-width: 0;
}

#loginbutton {
  width: 80%;
  height: 25%;
  text-align: center;
  background-color: transparent;
}

#realHead {
  margin-top: 5%;
  height: 15%;
  width: 95%;
}

#realCenter {
  height: 37%;
  width: 95%;
  margin-top: 2%;
}

#realCenterHidden {
  height: 10%;
  width: 95%;
  margin-top: 2%;
}

#realFooter {
  height: 37%;
  width: 95%;
  margin-top: 2%;
}

#chartsDiv {
  height: 100%;
  width: 100%;
}

#addDiv {
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}

#bodyTimeDiv {
  margin-top: 2%;
  height: 20%;
  width: 95%;
  flex-direction: row;
  justify-content: space-around;
}

#unitDropdown {
  /* height: 100%; */
}

.DateTimePickerDiv {
  width: 45%;
}

#addDatePicker {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

#addTimePicker {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

#addWeightDiv {
  margin-top: 2%;
  height: 20%;
  width: 95%;
  flex-direction: row;
  justify-content: flex-start;
}

#addWeightInput {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

#addWeightInputLabel {
  width: 35%;
  height: 80%;
}

#addWeightInputDiv {
  width: 40%;
  height: 80%;
}

#addWeightInputUnit {
  width: 20%;
  height: 80%;
}

#weightUnitButton {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

#addbutton {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
}

#addButtonDiv {
  margin-top: 2%;
  height: 20%;
  width: 95%;
  flex-direction: row;
}

.deleteButton {
  background-color: transparent;
  text-align: center;
  font-size: 1rem;
  color: #dd6b66;
  font-weight: bold;
  border: #dd6b66 0.1rem solid;
  height: 1.5rem;
  width: 100%;
}

.centerAnima-enter-active,
.centerAnima-leave-active {
  transition: all 0.7s;
}

.centerAnima-enter,
.centerAnima-leave-to

/* .fade-leave-active below version 2.1.8 */
 {
  transform: scale(1, 0);
  opacity: 0;
}

.centerAnima-enter-to,
.centerAnima-leave

/* .fade-leave-active below version 2.1.8 */
 {
  opacity: 1;
  transform: scale(1, 1);
}

.commoniconAnima-enter-active {
  transition: all 0.7s linear 0.7s;
}

.commoniconAnima-enter,
.commoniconAnima-leave-to {
  opacity: 0;
}

/* element 覆盖样式 */
.el-loading-spinner .el-loading-text {
  font-size: 2rem;
}
