<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <title>EveryTimer</title>

  <script src="../public/third/jquery-3.4.1.min.js"></script>
  <script src="../public/third/vue.min.js"></script>
  <!-- 引入element样式 -->

  <!-- <link rel="stylesheet" href="../public/third/element-ui.css" /> -->
  <link rel="stylesheet" href="../public/third/elementStyle/theme/index.css" />
  <!-- 引入element组件库 -->
  <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
  <script src="../public/third/element-ui.js"></script>

  <link rel="stylesheet" href="../public/css/iconfont.css" />
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="../public/page/static/static.css" />




  <script src="../public/third/TweenMax.min.js"></script>
  <script src="../public/third/moment.min.js"></script>
  <script src="../public/third/snowflakes.min.js"></script>
  <script src="../public/third/echarts.js"></script>

  <script src="../public/common.js"></script>
  <script src="../public/page/static/static.js"></script>



  <style>
    .commonicon {
      font-size: 2em;
    }
  </style>
</head>

<body>
  <div class="container flexCenter" id="app">
    <div id="loginContent" class="mBorder flexCenter" v-if="username===null">
      <div id="usernamediv" class="flexCenter  mBorder">
        <input type="text" id="usernameinput" class="mFont" v-model="loginName" placeholder="USERNAME" />
      </div>

      <div id="loginbutton" class="flexCenter mFont mBorder" v-on:click="loginclick">
        ENTER
      </div>
    </div>
    <div id="realContent" class="flexCenter" v-else>
      <div id="realHead" class="flexCenter mFont mBorder">
        {{ username }}
      </div>

      <div id="realCenter" class="flexCenter mFont mBorder" v-bind:style="{height: animate.chartDivHeight+'%'}"
        v-on:click="openCharts">
        <transition name="centerAnima">
          <div id="chartsDiv" v-show="operateType=='charts'"></div>
        </transition>
        <transition name="commoniconAnima">
          <p v-show="operateType!='charts'" class="flexCenter" style="flex-direction: row;">
            <span class="commonicon iconfont icon-arrow-circle-o-top1"></span>

            <span class="mFont">CHARTS</span>
          </p>
        </transition>

      </div>

      <div id="realFooter" class="flexCenter mFont mBorder"
        v-bind:style="{height: (animate.SumDivHeight-animate.chartDivHeight)+'%'}" v-on:click="openAdd">
        <transition name="centerAnima">
          <div id="addDiv" class="flexCenter" v-show="operateType=='add'">
            <div id="bodyTimeDiv" class="flexCenter mBorder">
              <div class="DateTimePickerDiv flexCenter">
                <el-date-picker id="addDatePicker" v-model="addDate" type="date" placeholder="DATE"
                  v-bind:clearable="false" value-format="yyyy-MM-dd" :picker-options="datePickerOptions" />
              </div>
              <div class="DateTimePickerDiv flexCenter">
                <el-time-select id="addTimePicker" v-model="addTime" :picker-options="{
                    start: '05:00',
                    step: '02:00',
                    end: '23:00'
                    }" placeholder="TIME" v-bind:clearable="false" />

              </div>

            </div>
            <div id="addWeightDiv" class="flexCenter mBorder">

              <div id="addWeightInputLabel" class="flexCenter ">WEIGHT</div>
              <div id="addWeightInputDiv" class="flexCenter ">
                <el-input id="addWeightInput" v-model="addWeight" placeholder="输入体重哟"></el-input>
              </div>
              <div id="addWeightInputUnit" class="flexCenter">
                <el-dropdown id="unitDropdown" class="flexCenter" @command="weightUnitChange">
                  <p class="mFont">/{{weightUnitList[weightUnitKey].title}}</p>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item v-for="item of weightUnitList" v-bind:key="item.key" v-bind:command="item.key">
                      {{item.title}}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>

              </div>
            </div>
            <div id="addButtonDiv" class="flexCenter mBorder mFont">

              <el-button plain id="addbutton" size="medium" v-on:click="addClick">ADD</el-button>
            </div>
          </div>
        </transition>
        <transition name="commoniconAnima">
          <p v-show="operateType!='add'" class="flexCenter" style="flex-direction: row;">
            <span class="commonicon iconfont icon-arrow-circle-o-top"></span>
            <span class="mFont">ADD</span>
          </p>
        </transition>
      </div>
    </div>
  </div>
</body>

<script>
  commonReady()
  var gloal = {
    headers: {
      'Content-Type': 'application/json; charset=UTF-8'
    }
  }
  var app = new Vue({
    el: '#app',
    data: {
      loginName: 'meiwa',
      username: null,
      capuleusername: null,
      operateType: 'charts', //add//charts
      chartdata: [],
      capulechartdata: [],
      animate: {
        chartDivHeight: 64,
        SumDivHeight: 74
      },
      addDate: moment().format('YYYY-MM-DD'),
      addTime: moment().format('HH:mm'),
      addWeight: '',
      weightUnitKey: 0,
      weightUnitList: [{
          key: 0,
          title: '千克',
          ratio: 1000
        },
        {
          key: 1,
          title: '斤',
          ratio: 500
        },
        {
          key: 2,
          title: '克',
          ratio: 1
        }
      ],
      datePickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        },
      },
    },
    watch: {
      // 如果 `username` 发生改变，这个函数就会运行
      username: function (newValue, oldVlue) {}
    },
    methods: {
      test: function () {
        console.log('test')
      },
      weightUnitChange: function (key) {
        this.addWeight = this.unitConversion(this.addWeight, this.weightUnitKey, key)

        this.weightUnitKey = key
      },
      //单位转化
      unitConversion: function (data, pretUnitKey, sufUnitKey, list = null) {
        if (String(Number(data)) == 'NaN') return 0
        if (list == null) {
          list = this.weightUnitList
        }

        const pretUnit = list[pretUnitKey];
        const sufUnit = list[sufUnitKey];
        return ((data * pretUnit.ratio) / sufUnit.ratio);
      },
      vaildData: function () {
        if (String(Number(this.addWeight)) == 'NaN') {
          this.$message({
            message: '体重只能输入数字啦',
            type: 'warning'
          });
          return false
        }
        const weig = this.unitConversion(this.addWeight, this.weightUnitKey, 2)
        if (weig < 20000 || weig > 200000) {
          this.$message({
            message: '体重只能在20KG到200KG之间啦',
            type: 'warning'
          });
          return false
        }
        if (moment(this.addDate).diff(moment()) > 0) {
          this.$message({
            message: '不能选今天之后的时间哟',
            type: 'warning'
          });
          return false
        }
        return true
      },
      addClick: function () {
        if (!this.vaildData()) return
        this.$confirm(
          `在  ${this.addDate} ${this.addTime} 测量到 ${this.addWeight} ${this.weightUnitList[this.weightUnitKey].title}  
          `,
          '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
          this.addWeightPost()
        }).catch(() => {
          console.log("test catch")
        })
      },
      addWeightPost: function () {
        let weight = this.unitConversion(this.addWeight, this.weightUnitKey, 2)
        let bodyTime = this.addDate + ' ' + this.addTime

        showChartLoading(true)
        const loading = this.$loading({
          lock: true,
          text: 'ADD LOADING',
          // spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
        $.ajax({
          type: 'POST',
          url: '/bodycenter/insertbody',
          dataType: 'json',
          data: JSON.stringify({
            data: {
              weight,
              bodyTime
            }
          }),
          headers: gloal['headers'],
          success: res => {
            showChartLoading(false)
            loading.close();
            if (res.return_code == 200 && res.return_obc) {
              this.$message({
                message: '添加成功了哟(^_−)☆',
                type: 'success',
                center: true
              })
              const obc = res.return_obc
              this.chartdata.push([obc.bodyTime,
                (obc.weight / 1000).toFixed(1),
                obc.id
              ])
              setOptionChart(this.username, this.chartdata)
            } else {
              this.$message({
                message: res.return_msg,
                type: 'error',
                center: true
              })
            }
          }
        })
      },
      openCharts: function () {
        if (this.operateType != 'charts') {
          this.operateType = 'charts'
          TweenLite.to(this.animate, 0.7, {
            chartDivHeight: 64
          })
        }
      },
      openAdd: function () {
        if (this.operateType != 'add') {
          this.operateType = 'add'
          TweenLite.to(this.animate, 0.7, {
            chartDivHeight: 10
          })
        }
      },

      loginclick: function () {
        const loading = this.$loading({
          lock: true,
          text: 'LOADING',
          // spinner: 'el-icon-loading',
          customClass: "TEST",
          background: 'rgba(0, 0, 0, 0.7)'
        });
        $.ajax({
          type: 'POST',
          url: '/auth/signInForUser',
          dataType: 'json',
          data: JSON.stringify({
            loginName: this.loginName
          }),

          headers: gloal['headers'],
          // processData: false,
          success: res => {
            loading.close();
            if (res.return_code == 200 && res.return_obc) {
              this.$message({
                message: "登录成功啦(〃'▽'〃)",
                type: 'success',
                center: true
              })
              const obc = res.return_obc
              const userdata = {
                authorization: obc['authorization'],
                username: obc['username']
              }
              this.username = obc['username']
              gloal['userdata'] = userdata
              gloal['headers']['authorization'] = obc['authorization']
              localStorage.setItem('authorization', obc['authorization'])
              localStorage.setItem('username', obc['username'])
              const namelist = [this.username]
              if (obc['capuleid'] != null) {
                this.capuleusername = obc['capuleusername']
                namelist.push(this.capuleusername)
              }
              this.$nextTick(function () {
                // 此时已经渲染完成
                initChart(namelist)
                showChartLoading(true)

                this.searchData()
                if (obc['capuleid'] != null) {
                  this.searchData(true)
                }
              })
            } else {
              this.$message.error({
                message: res.return_msg,
                type: 'error',
                center: true
              })
            }
          }
        })
      },
      searchData: function (capule = false, ) {
        $.ajax({
          type: 'POST',
          url: '/bodycenter/searchbody',
          dataType: 'json',
          data: JSON.stringify({
            data: {
              capule,
              filter: [{
                field: 'bodyTime',
                operate: 'between',
                value: moment().subtract(1, 'months').format("YYYY-MM-DD"),
                extra: moment().format("YYYY-MM-DD HH:mm:ss")
              }],
              order: [{
                field: 'bodyTime',
                type: 'ASC'
              }]
            }
          }),
          headers: gloal['headers'],
          success: res => {
            if (res.return_code == 200 && res.return_obc) {
              const resobc = res.return_obc

              showChartLoading(false)
              if (!capule) {
                this.chartdata = resobc.map(item => [
                  item.bodyTime,
                  (item.weight / 1000).toFixed(1),
                  item.id
                ])
                setOptionChart(this.username, this.chartdata)

              } else {
                this.capulechartdata = resobc.map(item => [
                  item.bodyTime,
                  (item.weight / 1000).toFixed(1),
                  item.id
                ])
                setOptionChart(this.capuleusername, this.capulechartdata)
              }

            }
          }
        })
      },
      deleteData: function (id) {
        for (let i = 0; i < this.chartdata.length; i++) {
          if (Number(this.chartdata[i][2]) == Number(id)) {
            showChartLoading(true)
            const loading = this.$loading({
              lock: true,
              text: 'DELETE LOADING',
              // spinner: 'el-icon-loading',
              background: 'rgba(0, 0, 0, 0.7)'
            });
            $.ajax({
              type: 'POST',
              url: '/bodycenter/deletebody',
              dataType: 'json',
              data: JSON.stringify({
                data: {
                  id
                }
              }),
              headers: gloal['headers'],
              success: res => {
                showChartLoading(false)
                loading.close();
                if (res.return_code == 200 && res.return_obc) {
                  this.$message({
                    message: '删除成功了哟o(´^｀)o',
                    type: 'success',
                    center: true
                  })
                  this.chartdata.splice(i, 1)
                  setOptionChart(this.username, this.chartdata)
                } else {
                  this.$message({
                    message: '竟然删除失败了!(ಥ_ಥ)',
                    type: 'error',
                    center: true
                  })
                }
              }
            })
            return
          }
        }
        this.$message({
          message: '已经删除了(￣▽￣)／',
          type: 'error',
          center: true
        })
      }
    }
  })
  var deleteClick = function (id) {
    this.app.$confirm('将删除该记录呢, 是否继续?', '提示', {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning'
    }).then(() => {
      this.app.deleteData(id)
    }).catch(() => {});
  }
</script>

</html>